<!DOCTYPE html>
<html>
<head>
  <title>Dublin Knowledge Map</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
<div id="map"></div>

<script>
const map = L.map('map').setView([53.355, -6.283], 13);

// base map 
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '© OpenStreetMap contributors'
}).addTo(map);

// assigning colours to categories
const categoryColors = {
  'Library': 'blue',
  'Museum': 'green',
  'University': 'orange',
  'Heritage': 'red'
};

fetch('/static/places/knowledge_places2.geojson')
  .then(res => res.json())
  .then(data => {
    const geojsonLayer = L.geoJSON(data, {
      pointToLayer: function(feature, latlng) {
        return L.marker(latlng);  // default Leaflet marker (pin shape) 
      },
      onEachFeature: function(feature, layer) {
        const props = feature.properties;
        layer.bindPopup(`<b>${props.name}</b><br>${props.category}<br>${props.address}`);
      }
    }).addTo(map);

    map.fitBounds(geojsonLayer.getBounds());
  })
  .catch(err => console.error('Error loading GeoJSON:', err));

</script>

</body>
</html>